.main_container {
  position: relative;
  min-height: 82dvh;
  background: rgb(1, 1, 1);
  background: linear-gradient(
    0deg,
    rgba(1, 1, 1, 1) 0%,
    rgba(127, 90, 240, 1) 50%,
    rgba(1, 1, 1, 1) 100%
  );
}

.main_container h1 {
  text-align: center;
}

hr {
  margin-top: 4rem;
}

.tarefas {
  text-align: center;
  margin-top: 0.5rem;
}
